@charset "UTF-8"
/*css 初始化 */

html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
    margin: 0;
    padding: 0;
}

fieldset,
img,
input,
button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul,
ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select,
input {
    vertical-align: middle;
}

select,
input,
textarea {
    font-size: 12px;
    margin: 0;
}

textarea {
    resize: none;
}

img {
    border: 0;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
    /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #921B51;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-decoration: none;
    font-weight: normal;
}

s,
i,
em {
    font-style: normal;
    text-decoration: none;
}

.col-red {
    color: #C81623!important;
}


/*span {font-size: 16px;}*/


/*.reveal .slides span {font-size: 25px;}*/


/*公共类*/

.fl {
    float: left
}

.fr {
    float: right
}

.al {
    text-align: left
}

.ac {
    text-align: center
}

.ar {
    text-align: right
}

.hide {
    display: none
}


/*私有的样式*/


/*slide1第一张幻灯片开始*/


/*slide1幻灯片的header*/

#slide1 #header {
    position: relative;
    padding: 0 80px;
}

#slide1 #header .portrait {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    background: url(../images/jianlei.jpg) no-repeat center;
    background-size: cover;
    border-radius: 50px;
    transition: all .5s;
}

#slide1 #header .portrait:hover {
    width: 120px;
    height: 120px;
    border-radius: 60px;
}

#slide1 #header .portrait a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#slide1 #header .instruction p {
    font-size: 30px;
}

#slide1 #header .instruction span {
    font-size: 18px;
    line-height: 10px;
}


/*slide1幻灯片的footer*/

#slide1 #footer {
    padding: 0 80px;
    position: relative;
}

#slide1 #footer .qrcode {
    position: absolute;
    top: 50%;
    margin-top: -50px;
}

#slide1 #footer .qrcode img {
    width: 100px;
}

#slide1 #footer .instruction p {
    font-size: 30px;
}

#slide1 #footer .instruction span {
    font-size: 18px;
    margin: 0;
}


/*slide1第一张幻灯片结束*/


/*slide2第二张幻灯片开始*/

#slide2 #slide2_1 li {
    font-size: 19px;
    padding: 5px 0;
}

#slide2 #slide2_2 li {
    list-style: none;
}

#slide2 #slide2_2 li div {
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    width: 300px;
    background: rgba(255, 255, 255, .3);
    border-radius: 20px;
    margin: 5px 0;
}


/*#slide2 #slide2_2 li .html {
    width: 400px;
}

#slide2 #slide2_2 li .css {
    width: 400px;
}

#slide2 #slide2_2 li .javascript {
    width: 400px;
}

#slide2 #slide2_2 li .jQuery {
    width: 300px;
}

#slide2 #slide2_2 li .less {
    width: 300px;
}

#slide2 #slide2_2 li .angular {
    width: 300px;
}

#slide2 #slide2_2 li .gulp {
    width: 300px;
}

#slide2 #slide2_2 li .seajs {
    width: 300px;
}

#slide2 #slide2_2 li .java {
    width: 300px;
}

#slide2 #slide2_2 li .linux {
    width: 300px;
}*/


/*slide2第二张幻灯片结束*/


/*slide3第三张幻灯片开始*/

#slide3 #slide3_2 span {
    font-size: 20px;
}

#slide3 #slide3_3 div {
    width: 60%;
    margin: 0 auto;
    text-align: left;
}

#slide3 #slide3_3 div p {
    font-size: 18px;
    line-height: 1.5;
    /*text-indent: 2em;*/
}

#slide3 #slide3_4 li {
    font-size: 20px;
    padding: 5px;
}

#slide3 #slide3_4 .note {
    font-size: 18px;
    width: 62%;
    margin: 0 auto;
}


/*slide3第三张幻灯片结束*/


/*slide4第四张幻灯片开始*/

#slide4 span {
    font-size: 25px;
}


/*slide4第四张幻灯片结束*/